In [1]:
import numpy as np

In [3]:
#!pip install pandas

Collecting pandas
  Downloading pandas-1.3.4-cp39-cp39-win_amd64.whl (10.2 MB)
Requirement already satisfied: numpy>=1.17.3 in c:\programdata\anaconda3\envs\tf-deeplearning\lib\site-packages (from pandas) (1.21.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\envs\tf-deeplearning\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2017.3
  Downloading pytz-2021.3-py2.py3-none-any.whl (503 kB)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\envs\tf-deeplearning\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.3.4 pytz-2021.3

In [4]:
import pandas as pd

In [7]:
from numpy import *

## Numpy Arrays

### From List

In [8]:
v = array([1,2,3,4])

In [9]:
v

array([1, 2, 3, 4])

In [11]:
M = array([[1,2], [3, 4]])

In [12]:
M

array([[1, 2],
       [3, 4]])

In [13]:
type(v), type(M)

(numpy.ndarray, numpy.ndarray)

In [14]:
v.shape

(4,)

In [15]:
M.shape

(2, 2)

In [16]:
M.size, v.size

(4, 4)

In [17]:
M.dtype

dtype('int32')

### from array generating function

In [18]:
x = arange(0, 10, 1)

In [19]:
x

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [20]:
x = arange(-1, 1, 0.2)

In [21]:
x

array([-1.00000000e+00, -8.00000000e-01, -6.00000000e-01, -4.00000000e-01,
       -2.00000000e-01, -2.22044605e-16,  2.00000000e-01,  4.00000000e-01,
        6.00000000e-01,  8.00000000e-01])

In [22]:
random_array = random.rand(5,5)

In [24]:
random_array.size

25

In [25]:
random_array

array([[0.80629695, 0.99383353, 0.91427857, 0.47779199, 0.12413999],
       [0.27483235, 0.62930671, 0.03340017, 0.80144175, 0.32234558],
       [0.96095514, 0.73228198, 0.82698273, 0.50880843, 0.2012942 ],
       [0.26884613, 0.40421692, 0.49538678, 0.50010869, 0.68057514],
       [0.80344238, 0.68603015, 0.0681625 , 0.41891997, 0.36651293]])

In [26]:
diagonal_array = diag([1,2,3,4])

In [27]:
diagonal_array

array([[1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 4]])

In [29]:
zeros_array = zeros((3,3))

In [31]:
zeros_array

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [30]:
ones_array = ones((3,3))

In [32]:
ones_array

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

# Data Frame menggunakan Pandas

In [35]:
products={
    "id":["001", "002"],
    "name":["Chocolate", "Shampoo"],
    "price": [20000, 10000]
}

In [36]:
df_products = pd.DataFrame(products)

In [37]:
df_products

    id       name  price
0  001  Chocolate  20000
1  002    Shampoo  10000

In [38]:
df_products['sales'] = 10

In [39]:
df_products

    id       name  price  sales
0  001  Chocolate  20000     10
1  002    Shampoo  10000     10

In [40]:
for idx, row in df_products.iterrows():
    print(idx, row['id'], row['name'], row['price'])

0 001 Chocolate 20000
1 002 Shampoo 10000

In [41]:
df_products.head(1)

    id       name  price  sales
0  001  Chocolate  20000     10

In [42]:
df_products.tail(1)

    id     name  price  sales
1  002  Shampoo  10000     10

In [43]:
df_products.name

0    Chocolate
1      Shampoo
Name: name, dtype: object

In [44]:
df_products.price

0    20000
1    10000
Name: price, dtype: int64

In [45]:
df_products[['name', 'price']]

        name  price
0  Chocolate  20000
1    Shampoo  10000

In [46]:
df_products.loc[df_products['name'] == 'Chocolate']

    id       name  price  sales
0  001  Chocolate  20000     10

## Matplotlib

In [48]:
x = np.linspace(0, 5, 10)

In [49]:
x

array([0.        , 0.55555556, 1.11111111, 1.66666667, 2.22222222,
       2.77777778, 3.33333333, 3.88888889, 4.44444444, 5.        ])

In [50]:
y = x ** 2

In [51]:
y

array([ 0.        ,  0.30864198,  1.2345679 ,  2.77777778,  4.9382716 ,
        7.71604938, 11.11111111, 15.12345679, 19.75308642, 25.        ])

In [54]:
#!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.5.0-cp39-cp39-win_amd64.whl (7.2 MB)
Collecting pillow>=6.2.0
  Downloading Pillow-8.4.0-cp39-cp39-win_amd64.whl (3.2 MB)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\envs\tf-deeplearning\lib\site-packages (from matplotlib) (3.0.6)
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: numpy>=1.17 in c:\programdata\anaconda3\envs\tf-deeplearning\lib\site-packages (from matplotlib) (1.21.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\envs\tf-deeplearning\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\envs\tf-deeplearning\lib\site-packages (from matplotlib) (21.3)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.28.3-py3-none-any.whl (884 kB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.2-cp39-cp39-win_amd64.whl (52 kB)
Collecting setuptools-scm>=4
  Downloading setuptools_scm-6.3.2-py3-none-any.whl (33 kB)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\envs\tf-deeplearning\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Collecting tomli>=1.0.0
  Downloading tomli-1.2.2-py3-none-any.whl (12 kB)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\envs\tf-deeplearning\lib\site-packages (from setuptools-scm>=4->matplotlib) (58.0.4)
Installing collected packages: tomli, setuptools-scm, pillow, kiwisolver, fonttools, cycler, matplotlib
Successfully installed cycler-0.11.0 fonttools-4.28.3 kiwisolver-1.3.2 matplotlib-3.5.0 pillow-8.4.0 setuptools-scm-6.3.2 tomli-1.2.2

In [53]:
import matplotlib

ModuleNotFoundError: No module named 'matplotlib'

In [52]:
figure()
plot(x, y, 'r')
xlabel('x')
ylabel('y')

NameError: name 'figure' is not defined